/*Our Services*/

#career{
  text-align: center;
}
  
  #career h3{
    font-size: 18px;
  }
  
  #career h1{
    font-size: 40px;
    color:#eb6234;
  
  }

  #career p{
    font-size:18px;
    font-family: sans-serif;
    margin:30px 30px;
    color:#ffffff;
  }
  
  .career{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  
  .career .r-box{
    width: 350px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
    margin: 18px 10px;
    transition: 0.2s;
    border-left: 5px solid #eb6234;
    background-color:black;
    color: #fff;
    text-align: center;
  }
  
  .r-box:hover{
    font-weight: bolder;
    transform: scale(1.1);
  }
  
  .r-box h2{
    color:#eb6234
  }
  
  