#video{
    position: fixed;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}

.hero{
    height:90vh;
    width: 100%;
    object-fit: contain;
}

.hero .text-content{
    text-align: center;
    position: absolute;
    margin:auto;
    height:20%;
    width:100%;
    top:30vh;
}

.hero .text-content h1{
    font-size: 3rem;
    color:black;
}

.hero .text-content p{
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    color:#eb6234;
    height: 40px;
}